<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="br.com.doghero.dhproject.myhero">

  <application tools:ignore="GoogleAppIndexingWarning">
    <activity
      android:name=".ui.HeroListActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar">
      <intent-filter>
        <category android:name="android.intent.category.LAUNCHER"/>
        <action android:name="android.intent.action.MAIN"/>
      </intent-filter>
    </activity>
  </application>

</manifest>
